html {
   --text: #071110;
--background: #727c7c;
--primary: #38cdc4;
--secondary: #91eae5;
--accent: #60ebe2;

}
body {
    color: var(--text);
    background: VAR(--background);
    font-family: "Roboto";
    font-size: xx-large;
    font-weight: 300;
    font-style: normal;
    display:flex;
    flex-direction: column;
    align-items: center;
}
h3 {
    color: #071110;
    font-weight: lighter;
    font-size: xx-large;
     text-align: center;
}
h1 {
    color: var(--accent);
    font-family: "coming soon";
    width: fit-content;
}

h2 {
    color: var(--primary);
    font-family: "coming soon";
    font-weight: bolder;
}

.dogs li::marker {
    color: var(--accent);

}

li::marker {
    color: var(--secondary);
     text-align: center;
}
.borngrin{
   border: 2px solid var(--secondary);
}

h1{
    padding-top: 20px 
}

h2{
    padding-bottom: 20px
}

h2 {
    margin-left: 20px;
}

h1 {
    border: 2px solid var(--secondary)
}

h1 {
    margin-right: 8%;
}

h2 {
    height: 10px;
} 

